.Filters {
	padding-top: 5%;
	/* float: left; */
	/* width: 20%; */

	/* display: inline-grid;
	grid-template-columns: 100%; */

	/* background-color: rebeccapurple; */

	padding-bottom: 500em;
	margin-bottom: 500em;
}

.filterSection {
	/* background-color: rgb(255, 1, 183); */
	margin-bottom: 20px;
}
